.best-service-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .carousel-item {
    min-width: 280px;
    scroll-snap-align: start;
    margin-right: 16px; /* Adjust spacing between items */
  }
  
  .card {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card-body {
    padding: 10px;
  }
  .custom-card {
    transition: transform 0.3s ease-in-out;
  }
  
  .custom-card:hover {
    transform: scale(1.05);
  }
  
  .card-enter-first {
    opacity: 0;
    transform: scale(0.9);
  }
  
  .card-enter-active {
    opacity: 1;
    transform: scale(1);
  }
  
  .card-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .card-exit-active {
    opacity: 0;
    transform: scale(0.9);
  }
  .custom-card {
    transition: transform 0.3s ease-in-out;
  }
  
  .custom-card:hover {
    transform: scale(1.05);
  }