/* CSS */
@keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .slide-in-left {
    animation: slideInLeft 1s ease-in-out;
  }
  
  .slide-in-right {
    animation: slideInRight 1s ease-in-out;
  }
  