.large-image {
    width: 300px;
    /* Set the desired width */
    height: 50px;
    /* Maintain aspect ratio */
}


.cart-items-name {
    color: var(--dark);
    font-family: var(--poppins-m-title);
    font-size: 20px;
    font-weight: 600;


}

.cart-items-card {
    display: flex;
    background: #FEFEFE;
    margin-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px -1px rgba(0, 0, 0, 0.10);


}

.cart-Items-farmer {
    font-family: var(--poppins-m-title);
    color: var(--info-500);
    font-size: 16px;
    font-weight: 500;

}

.cart-items-bags {
    font-family: var(--poppins-m-title);
    color: var(--dark);
    font-size: 12px;
    font-weight: 500;
}

.cart-items-location {
    font-family: var(--poppins-m-title);
    color: var(--dark);
    font-size: 16px;
    font-weight: 400;
}

.cart-items-location-status {
    font-family: var(--poppins-m-title);
    color: var(--dark);
    font-size: 18px;
    font-weight: 400;

}

.cart-items-image {
    border-radius: 60%;
    height: 120px;
    width: 120px;

}

.cart-items-bags {
    border-radius: 8px;
    background: #FEFEFE;
    font-weight: bold;

}

.control{
    width: 20%;
    height: 5px;
}

.delivery-title {
    font-family: var(--poppins-m-title);
    font-size: 25px;
    font-weight: 500;
    color: var(var(--dark));
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon-button {
    border-radius: var(--br-5xs);
    width: 24px;
    height: 24px;
    position: relative;

}

#demo-customized-button {
    margin-top: 0;
}

.from-con{
    height: 5px;
}