
.slide-container {
    overflow: hidden;
    position: absolute;
    top: 50%;
 left:20%;
    transform: translateY(-50%);
  }
  
  .top .slide-in {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .bottom .slide-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .top .slide-in.slide {
    opacity: 1;
    transform: translateY(0);
  }
  
  .bottom .slide-in.slide {
    opacity: 1;
    transform: translateY(0);
  }
  
